/*General styles*/

* {
   font-family:'Open Sans', sans-serif;
}
html {
   scroll-behavior: smooth;
}
html,body {
   padding:0;
   margin: 0;
   overflow-x: hidden;
   width:100%;
}
h1,h2,h3,h4,h5,h6,p,div {
   margin: 0;
}
.container {
   width:100%;
   max-width: 1200px;
   margin: 0 auto;
}
input,textarea {
   border:0;
   outline:0;
   outline-offset: 0;
}
h2,.header {
   font-size:42px;
   text-transform: uppercase;
   line-height: 55px;
   margin-bottom: 3rem;
}
.header {
   font-weight: 600;
}



/*Header nav menu*/

#header {
   padding-top:2.5rem;
   background-color: rgb(246,242,242);
   width:100%;
}

/*Nav menu*/
#header-nav-menu {
   background-color:rgb(49,48,48);
   display: flex;
   flex-flow:row wrap;
   justify-content: center;
   color:white;
}
.header-nav-menu-item {
   padding:2.75rem 1.25rem;
   color:inherit;
   text-decoration: none;
   text-transform: uppercase;
   font-size:14px;
   font-weight:700;
}
.header-nav-menu-item:hover {
   background-color:rgb(255,63,64);
}


/*Header content*/
#header-content {
   padding:100px 0;
   display:flex;
}
#header-content-text,#header-content-video {
   width:50%;
}
#header-content-video {
   display: flex;
   justify-content: flex-end;
}
#header-content-header {
   font-size:60px;
   text-transform: uppercase;
   font-weight: 800;
   line-height: 1.2;
   margin-bottom: 2rem;
}
#header-content-paragraph {
   line-height: 28px;
   margin-bottom: 3.5rem;
}
.btn {
   font-size:18px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.btn--orange {
   background-color: rgb(255,45,45);
   color:white;
}
.btn--trans {
   background-color:transparent;
   color:rgb(255,0,0);
   border:2px solid rgb(255,0,0);
   font-weight: bold;
}
.btn--mdpadd {
   padding:15px 5.5rem;
}

#header-content-video-block {
   width:87%;
   background-color: rgb(196,192,177);
   height: auto;
   box-shadow: -1px -14px 73px rgb(47,47,47);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}






/*Services*/
#services {
   padding:105px 0 0 0;
}
#services .container {
   padding-bottom: 105px;
   border-bottom:2px solid #ececec;
}
#services-row {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}
#services-provide {
   max-width: 43%;
   margin-right: 100px;
}
#services-provide-paragraph {
   line-height: 28px;
   margin-bottom: 4.5rem;
}
#services-details {
   display: flex;
   flex-flow: row wrap;
   width:54%;
}
.services-details-info {
   width:50%;
   margin-bottom: 2.5rem;
}
.services-image {
   margin-bottom: 2rem;
}
.services-details-info-header {
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 1.25rem;
}
.services-details-info-paragraph {
   line-height: 28px;
   font-size:16px;
   box-sizing: border-box;
   padding-right: 40px;
}















/*Feature products*/
#feature-products {
   padding:100px 0;
}
#feature-products-intro {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap:wrap;
   margin-bottom:3.75rem;
}
.header.header--mgbmd {
   margin-bottom: 2rem;
}
#feature-products-paragraph {
   line-height: 28px;
   margin-bottom: 2rem;
   width:42%;
   word-break: keep-all;
   text-align: center;
}
.redline {
   width:140px;
   border-top:2px solid red;
   margin-bottom: 75px;
}
.feature-products-togglers-item {
   text-transform: uppercase;
   font-size: 22px;
   text-decoration: none;
   color:rgb(115,115,115);
   margin-left: 3.5rem;
}
.feature-products-togglers-item:hover {
   color:red;
}
.feature-products-togglers-item:nth-child(1) {
   margin-left: 0;
}
#feature-products-templates {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.feature-products-templates {
   width:24%;
   height: 25vh;
   background-color:rgb(245,240,221);
   margin-top: 20px;
}
.feature-products-templates:nth-child(-n+4) {
   margin-top: 0;
}
















/*Team*/
#team {
   margin-bottom: 100px;
}
#team-intro {
   margin-bottom:4rem;
}
#team-intro-paragraph {
   line-height: 28px;
   margin-bottom: 2rem;
   width:40%;
   word-break: keep-all;
}
#redline-nomgb {
   margin-bottom: 0;
}
#team-info-about-everyone {
   display: flex;
   flex-direction: row;
}
#team-info-about-main {
   width:300px;
   background-color:rgb(245,240,221);
   margin-right:4.75rem;
}
#team-info-about-everyone-details {
   margin-bottom: 45px;
}
#team-info-about-everyone-details p {
   line-height: 28px;
   margin-bottom: 2rem;
   width:80%;
   word-break: keep-all;
}
#everyone-refs-sm {
   font-style: italic;
}
.everyone-refs-sm-details {
   text-decoration: none;
   color:black;
   font-size:18px;
   display: inline-block;
   margin-left: 2rem;
}
.everyone-refs-sm-details:nth-child(1) {
   margin-left: 0;
}
#team-info-photos {
   display: flex;
   justify-content: space-between;
}
.team-info-photos-everyone {
   width:170px;
   height:16vh;
   background-color:rgb(245,240,221);
   overflow: hidden;
   position: relative;
   cursor: pointer;
}
.team-name {
   position: absolute;
   bottom:100%;
   left: 0;
   right:0;
   width:100%;
   height: auto;
   background-color:rgba(0,0,0,0.5);
   text-align: center;
   color:white;
   text-transform: uppercase;
   font-weight: 600;
   transition:bottom .5s;
}
.team-info-photos-everyone:hover .team-name {
   bottom :0;
}








/*Subscribe block*/
#subscribe-block {
   background-image: url(../images/cca2165be2c288d1ea5155de6c211e5b.jpg);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
}
#subscribe-block-black-out {
   background-color:rgba(0,0,0,0.5);
   padding:150px 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   color:white;
}
#subscribe-block-header {
   text-transform: none;
}
#subscribe-block-text {
   margin-bottom: 60px;
}
#subscribe-block-form {
   margin:0 auto;
   width:58%;
   text-align: start;
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
}
#subscribe-block-form input[type="email"] {
   width:65%;
   padding:1rem 0 1rem 2rem;
   box-sizing: border-box;
   border-radius: 4px;
}
#subscribe-block-form input[type="button"] {
   padding:1rem 57px;
   border-radius: 4px;
   cursor: pointer;
   text-transform: uppercase;
   background-color:rgb(255,45,45);
   color:white;
   font-weight:700;
   box-sizing: border-box;
}











/*get in touch*/
#get-in-touch {
   padding:100px 0;
}
#get-in-touch-intro {
   margin-bottom: 70px;
}
#get-in-touch-paragraph {
   line-height: 28px;
   width:60%;
   margin-bottom: 50px;
}
#get-in-touch-form-and-example {
   display: flex;
   position: relative;
   flex-wrap:wrap;
}
#get-in-touch-form {
   width:60%;
   margin-right:110px;
}
#get-in-touch-form input:not(#button) {
   background-color:rgb(229,229,229);
   padding:20px 0 20px 54px;
   box-sizing:border-box;
   font-size:18px;
   border-radius: 10px;
}
#get-in-touch-form-row {
   display: flex;
   flex-wrap:wrap;
   justify-content: space-between;
}
#get-in-touch-form-row input {
   width:48%;
}
#get-in-touch-form textarea {
   display: block;
   resize: none;
   height:250px;
   width:100%;
   background-color:rgb(229,229,229);
   border-radius:10px;
   margin-top: 50px;
   box-sizing: border-box;
   padding:2rem 0 0 54px;
}
#button {
   width:100%;
   border-radius: 4px;
   margin-top: 50px;
   font-size:18px;
   font-weight: 700;
   text-transform: uppercase;
   color:white;
   background-color:rgb(245,45,45);
   text-align: center;
   padding: 25px 0;
   cursor: pointer;
}

#get-in-touch-example {
   position: absolute;
   right:0;
   top:0;
   bottom:0;
   z-index: -1;
   color:white;
   padding: 140px 0 0 80px;
   background-color: rgb(45,45,45);
   width:355px;
   transform: translateX(57px);
}
#get-in-touch-example h3 {
   text-transform:uppercase;
   margin-bottom: 50px;
}
#get-in-touch-example address {
   font-style: normal;
   line-height: 28px;
   display: flex;
   flex-direction: column;
}
#get-in-touch-example address span {
   margin-top: 2rem;
}
#get-in-touch-example address span:nth-child(1) {
   margin-top: 0;
}















